html, body{
    margin:0;
    padding:0;
    height: 100%;
}

body {
    padding-bottom: 200px;
}

a {
    color: #121212;
    text-decoration: underline;  
}

a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: underline;
}

.homeText {
    font-size: 18px;    
}

.footer {
    height: 200px;

}

.footerLogos {
    padding-left: 10%;
}

nav{
    color: white;
}

.WhiteText{
    color: white;
}

.TitleText {
    color: white;
    text-align: center;
}

.navbar-custom {
    background-image: url('../images/navbg.png');
}

.masthead {
    background-color: none;
    background-image: url('../images/bg.png');
}
p {
     text-align: right;
     font-size: 16px;
     color: black;
     padding: 3px;
}






